.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
}

.container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1550px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}